
body {
    border-style: ridge;
    color: rgb(45, 43, 43);
    mix-blend-mode:hard-light;
    background-color: rgb(118, 118, 190);
    font-weight: bold;
    text-align: center;
}
img {
    height: 400px;
    width: 400px;
    margin: auto;
    
}

h1, h2, h3 {
    text-align: center;
    color: rgb(215, 109, 210);
    text-decoration:underline;
    border:rgb(9, 191, 228);
}

div {
    background-color: blueviolet;
    margin: auto;
    border-style: dashed;
    border:rgb(9, 191, 228);
    padding: 1rem;
    max-width: 480px;
    box-shadow: 0px 0px 25px 25px rgbba(55, 54, 51, 1);
}

p {
    background-color: rgb(159, 127, 255);
    border-style: dashed;
    /* border:rgb(255, 0, 242); */
}

* {
    border: 2px solid red;
} 